<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.milolab.dj.dao.EmployeeDAO">

    <resultMap id="EmployeeResultMap" type="cn.milolab.dj.bean.entity.Employee">
        <id property="id" column="id"/>
        <result property="deleted" column="is_deleted"/>
        <result property="cstCreate" column="cst_create"/>
        <result property="cstModified" column="cst_modified"/>
        <result property="userId" column="user_id"/>
        <result property="stuSerial" column="stu_serial"/>
        <result property="jobSerial" column="job_serial"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
    </resultMap>

    <insert id="insertOne">
        insert into employee (cst_create, cst_modified, user_id, stu_serial, job_serial, name, role)
        values (current_timestamp(), current_timestamp(), #{userId}, #{stuSerial},
                #{jobSerial}, #{name}, #{role});
    </insert>

    <update id="updateWithEntity">
        update employee
        set user_id      = #{userId},
            stu_serial   = #{stuSerial},
            job_serial   = #{jobSerial},
            name         = #{name},
            role         = #{role},
            cst_modified = current_timestamp()
        where id = #{id}
          and is_deleted = false
    </update>

    <update id="deleteById">
        update employee
        set is_deleted = true
        where id = #{id}
          and is_deleted = false
    </update>

    <select id="getAllEmployees" resultMap="EmployeeResultMap">
        select *
        from employee
        where is_deleted = false
    </select>

    <select id="findById" resultMap="EmployeeResultMap">
        select *
        from employee t1
        where t1.id = #{id}
          and is_deleted = false
    </select>

    <select id="findByUserId" resultMap="EmployeeResultMap">
        select *
        from employee
        where user_id = #{userId}
          and is_deleted = false
    </select>

</mapper>